@model FbApp.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt> Profile Photo: </dt>
        <dd>
            <img src="@Url.Action("UserPhotos", "Home" )" style="
            width:160px;
            height:160px;
            background: #FFFFFF;
            margin: auto;
            margin-bottom: 20px;
            border-radius: 100px;
            padding: 6px;
            box-shadow: 0px 0px 20px #888;" />
        </dd>
    </dl>

    @using (Html.BeginForm("UpdateProfilePicture", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.ProfilePhoto, new { @class = "col-md-2 control-label" })
             <div class="col-md-10">
                 <input type="file" name="ProfilePhoto" id="fileUpload" accept=".png,.jpg,.jpeg,.gif,.tif" />
                 <input type="submit" value="Save" formmethod="post" class="btn btn-default" />
            </div>
        </div>
    }
        

    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
    </dl>

</div>
